<li class="tota11y-info-error">
    <a aria-label="Scroll to error" href="#" class="tota11y-info-error-scroll">
        <div class="tota11y-info-error-scroll-glyph tota11y-info-error-scroll-lens"></div>
        <div class="tota11y-info-error-scroll-glyph tota11y-info-error-scroll-handle"></div>
    </a>
    <a href="#" class="tota11y-info-error-trigger tota11y-collapsed">
        <div class="tota11y-info-error-title">
            <span class="tota11y-info-error-chevron">
                &#8250;
            </span>
            {{{title}}}
        </div>
    </a>
    <div class="tota11y-info-error-description tota11y-collapsed">
        <div class="tota11y-info-error-description-code-container">
            <em>Relevant code:</em>
            <code></code>
        </div>
    </div>
</li>
