<div class="tota11y-info">
    <header class="tota11y-info-title">
        {{title}}
    </header>

    <ul role="tablist" class="tota11y-info-tabs">
        <!-- tabs go here -->
    </ul>
    <div class="tota11y-info-sections">
        <!-- sections go here -->
    </div>
</div>
