<div class="tota11y-info">
    <header class="tota11y-info-title">
        {{title}}
    </header>
    <div class="tota11y-info-body">
        <div class="tota11y-info-sections"></div>
        <ul role="tablist" class="tota11y-info-tabs"></ul>
    </div>
</div>
