<p>
    This image does not have an associated "alt" attribute. Please specify
    the alt text for this image like so:
</p>

<pre><code>&lt;img src=".." alt="Image description"&gt;</code></pre>

<p>
    If the image is decorative and does not convey any information to the
    surrounding content, however, you may leave this "alt" attribute empty, or
    specify a "role" attribute with a value of "presentation."
</p>

<pre><code>&lt;img src=".." alt=""&gt;
&lt;img src=".." role="presentation"&gt;</code></pre>
