.tota11y-header-info {

    .hierarchy {
        color: #222;
        background-color: #fff;
        font-size: 14px;
        padding: 10px;
        margin: 10px 0;

        max-height: 132px;
        overflow: scroll;
    }

    ul {
        border-left: 1px dotted #888;
        list-style: none;
        margin: 0 0 0 3px;
        padding-left: 12px;

        &:first-child {
            border: none;
            padding-left: 0;
            margin-left: 0;
        }
    }

    li {
        margin: 5px 0;
    }

}