@fontSize: 14px;
@fontSizeSmall: 11px;
@spacing: 10px;
@borderRadius: 5px;

@backgroundColor: #333;
@borderColor: #555;
@textColor: #eee;

@descriptionWidth: 200px;

.tota11y-dark-color-scheme {
    background-color: @backgroundColor;
    color: @textColor;
    font-family: Arial;
}

.tota11y-no-select {
    user-select: none;
}

// Position mixin
.position(@position: static, @top: auto, @right: auto, @bottom: auto, @left: auto) {
    position: @position;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

.tota11y-toolbar {
    .tota11y-dark-color-scheme;
    .position(fixed, auto, auto, 0, 10px);

    border-top-left-radius: @borderRadius;
    border-top-right-radius: @borderRadius;
    z-index: 9999;

    &-toggle {
        color: inherit !important;   // prevent global styles :(
        display: block;
        font-size: @fontSize;
        padding: @spacing;
        text-decoration: none !important;
    }

    &-body {
        display: none;
    }
    &.tota11y-expanded &-body {
        display: block;
    }

    .tota11y-plugin {
        .tota11y-no-select;
        border-bottom: 1px solid @borderColor;

        &-label {
            align-items: center;
            display: flex;
            padding: @spacing;

            &:hover {
                cursor: pointer;
            }
        }

        &-controls {
            margin-right: @spacing;
        }

        &-title {
            font-size: @fontSize;
            font-weight: bold;
        }

        &-description {
            font-size: @fontSizeSmall;
            font-style: italic;
            width: @descriptionWidth;
            margin-right: 3px;
        }
    }
}

@panelWidth: 350px;
@panelHeight: 220px;
@panelPosition: 15px;

.tota11y-info {
    .tota11y-dark-color-scheme;
    .position(fixed, auto, @panelPosition, @panelPosition, auto);

    border-radius: @borderRadius;
    display: none;
    height: @panelHeight;
    padding: @spacing;
    width: @panelWidth;
    z-index: 9999;

    &.tota11y-active {
        display: block;
    }
}
