@fontSize: 14px;
@fontSizeSmall: 11px;
@spacing: 10px;
@borderRadius: 5px;

@backgroundColor: #333;
@borderColor: #555;
@textColor: #eee;

@descriptionWidth: 200px;

.dark-color-scheme {
    background-color: @backgroundColor;
    color: @textColor;
    font-family: Arial;
}

.tota11y-toolbar {
    .dark-color-scheme;

    border-top-left-radius: @borderRadius;
    border-top-right-radius: @borderRadius;
    bottom: 0;
    position: absolute;

    .toolbar-toggle {
        color: inherit;
        display: block;
        font-size: @fontSize;
        padding: @spacing;
        text-decoration: none;
    }

    .toolbar-body {
        display: none;
    }
    &.expanded .toolbar-body {
        display: block;
    }

    .tota11y-plugin {
        border-bottom: 1px solid @borderColor;
        .no-select;

        &-label {
            align-items: center;
            display: flex;
            padding: @spacing;

            &:hover {
                cursor: pointer;
            }
        }

        &-controls {
            margin-right: @spacing;
        }

        &-title {
            font-size: @fontSize;
            font-weight: bold;
        }

        &-description {
            font-size: @fontSizeSmall;
            font-style: italic;
            width: @descriptionWidth;
            margin-right: 3px;
        }
    }
}

@panelWidth: 350px;
@panelHeight: 220px;
@panelPosition: 15px;

.tota11y-info {
    .dark-color-scheme;

    border-radius: @borderRadius;
    display: none;

    width: @panelWidth;
    height: @panelHeight;

    position: absolute;
    bottom: @panelPosition;
    right: @panelPosition;

    padding: @spacing;

    &.active {
        display: block;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
