{
    "env": {
        "node": true,
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": 0,
        "react/jsx-uses-react": 2,
        "no-underscore-dangle": 0,
        "no-proto": 0,
        "no-use-before-define": 0,
        "quotes": [2, "double"],
        "space-after-keywords": [2, "always"],
        "space-infix-ops": 0,
        "strict": 0
    },
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ],
    "globals": {
        "axs": true,
        "React": true
    }
}
