Insufficient contrast ratio ({{contrastRatio}} &lt; {{requiredRatio}})

<span class="tota11y-swatches">
    <span class="tota11y-swatch" style="background-color: {{fgColorHex}} !important"></span>
    /
    <span class="tota11y-swatch" style="background-color: {{bgColorHex}} !important"></span>
</span>
