Insufficient contrast ratio ({{contrastRatio}} &lt; {{requiredRatio}})

<span class="tota11y-swatches">
    <span class="tota11y-swatch" style="background-color: {{fgColorHex}}"></span>
    /
    <span class="tota11y-swatch" style="background-color: {{bgColorHex}}"></span>
</span>
