<div class="plugin">
    <label>
        <div class="plugin-checkbox-container">
            <input type="checkbox" class="plugin-checkbox" />
        </div>
        <div class="plugin-info">
            <div class="plugin-title">{{ title }}</div>
            <div class="plugin-description">{{ description }}</div>
        </div>
    </label>
</div>
