<div class="tota11y-plugin">
    <label class="tota11y-plugin-label">
        <div class="tota11y-plugin-control">
            <input type="checkbox" class="tota11y-plugin-checkbox" />
            <div class="tota11y-plugin-indicator">&#x2713;</div>
        </div>
        <div class="tota11y-plugin-info">
            <div class="tota11y-plugin-title">{{ title }}</div>
            <div class="tota11y-plugin-description">{{ description }}</div>
        </div>
    </label>
</div>
