<div class="tota11y tota11y-toolbar">
    <div class="tota11y-toolbar-body">
        <div class="tota11y-plugins"></div>
    </div>
    <a href="javascript:void(0)" class="tota11y-toolbar-toggle">tota11y</a>
</div>
