<div class="tota11y-heading-outline-entry heading-level-{{level}}">
    <span class="tota11y-heading-outline-level tota11y-label">{{level}}</span>
    <span class="tota11y-heading-outline-heading-text">{{text}}</span>
</div>
